@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Teko:wght@300..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap");

:root {
	--negro: black;
	--blanco: white;
	--gris: #212121;
	--grisclaro: #3a3939;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	width: 100%;
	font-family: "Roboto", sans-serif;
	background-color: var(--blanco);
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: center;
    height: 65vh;
}

#informativo {
	background-color: var(--grisclaro);
	color: var(--blanco);
	padding: 3vw 3vw 2vw 3vw;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.4);
	width: 36vw;
	max-width: 95vw;
	font-size: 1.5vh;
}

#informativo h1 {
	font-family: "Roboto";
	text-align: center;
	margin-bottom: 2vh;
	color: var(--blanco);
}

#boton{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#enlace {
	width: 100%;
}

button {
	width: 100%;
	margin-bottom: 2vh;
	border: none;
	border-radius: 4px;
	font-size: 2vh;
	padding: 0.6em 0.75em;
	box-sizing: border-box;
	background-color: var(--negro);
	color: var(--blanco);
	font-family: "Texturina";
	font-weight: 900;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: var(--blanco);
	color: var(--gris);
}


h1 {
	font-size: 4vh;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: black;
	text-align: center;
}

@media (max-width: 768px) {
	body {
		flex-direction: column;
		align-items: center;
	}

	main {
		flex-direction: column;
		padding: 2vw;
		align-items: center;
	}
}

